[data-notify-text]:hover {
  cursor: pointer;
}

.koverj-sidebar.right {
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  background: floralwhite;
  z-index: 100;
}

.sidebars > .koverj-sidebar {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.64);
  position: fixed;
  color: white;
  font-size: 2em;
  text-align: center;
  z-index: 100;
  padding-top: 15px;
}

.kj-tests-list {
  font-size: 15px;
  text-align: left;
  color: black;
  padding-top: 15px;
}

.kj-close-sidebars {
  position: absolute;
  top: 29px;
  width: 21px;
  height: 11px;
  left: 15px;
  opacity: 0.3;
}

.kj-close-sidebars:hover {
  opacity: 1;
  cursor: pointer;
}

.kj-close-sidebars:before,
.kj-close-sidebars:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 25px;
  width: 2px;
  background-color: #333;
}
.kj-close-sidebars:before {
  transform: rotate(45deg);
}
.kj-close-sidebars:after {
  transform: rotate(-45deg);
}

.kj-sidebar-header {
  color: black;
}

.notifyjs-koverj-pin-base a {
  color: blue;
}

.kj-tests-list a {
  color: black;
}
